## Variables

In [56]:
test_user_id = 100

## STEP1: Loading Dataset
▪ Loading anime.csv and rating.csv into DataFrame

In [40]:
import pandas as pd
anime_data = pd.read_csv('anime.csv').sort_values(ascending=False, by='rating')
#animeDf = animeDf[:5000]
anime_data

,anime_id,name,genre,type,episodes,rating,members
10464,33662,Taka no Tsume 8: Yoshida-kun no X-Files,"Comedy, Parody",Movie,1,10.00,13
10400,30120,Spoon-hime no Swing Kitchen,"Adventure, Kids",TV,Unknown,9.60,47
9595,23005,Mogura no Motoro,Slice of Life,Movie,1,9.50,62
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
9078,33607,Kahei no Umi,Historical,Movie,1,9.33,44
...,...,...,...,...,...,...,...
12274,34492,Nuki Doki! Tenshi to Akuma no Sakusei Battle -...,Hentai,OVA,Unknown,NaN,392
12279,34491,Sagurare Otome The Animation,Hentai,OVA,1,NaN,79
12280,34312,Saimin Class,Hentai,OVA,Unknown,NaN,240
12282,34388,Shikkoku no Shaga The Animation,Hentai,OVA,Unknown,NaN,195
12285,34399,Taimanin Asagi 3,"Demons, Hentai, Supernatural",OVA,Unknown,NaN,485

In [41]:
rating_data = pd.read_csv('rating.csv')
rating_data = rating_data[:1000000]
rating_data

        user_id  anime_id  rating
0             1        20      -1
1             1        24      -1
2             1        79      -1
3             1       226      -1
4             1       241      -1
...         ...       ...     ...
999995     9358     28999      -1
999996     9358     29067      -1
999997     9358     29093      -1
999998     9358     29095      -1
999999     9358     29101      -1

[1000000 rows x 3 columns]

## Merge Dataset by anime_id

In [42]:
raw_merged_data = pd.merge(rating_data, anime_data, on='anime_id', sort = True)
raw_merged_data

,user_id,anime_id,rating_x,name,genre,type,episodes,rating_y,members
0,13,1,-1,Cowboy Bebop,"Action, Adventure, Comedy, Drama, Sci-Fi, Space",TV,26,8.82,486824
1,19,1,10,Cowboy Bebop,"Action, Adventure, Comedy, Drama, Sci-Fi, Space",TV,26,8.82,486824
2,21,1,9,Cowboy Bebop,"Action, Adventure, Comedy, Drama, Sci-Fi, Space",TV,26,8.82,486824
3,23,1,9,Cowboy Bebop,"Action, Adventure, Comedy, Drama, Sci-Fi, Space",TV,26,8.82,486824
4,32,1,10,Cowboy Bebop,"Action, Adventure, Comedy, Drama, Sci-Fi, Space",TV,26,8.82,486824
...,...,...,...,...,...,...,...,...,...
999995,6361,34283,7,Nobunaga no Shinobi Episode 0,"Comedy, Historical",Special,1,6.74,937
999996,7114,34283,6,Nobunaga no Shinobi Episode 0,"Comedy, Historical",Special,1,6.74,937
999997,2951,34324,-1,Chiryokumaru,Action,ONA,1,5.40,817
999998,3009,34324,6,Chiryokumaru,Action,ONA,1,5.40,817
999999,1734,34325,9,Pokemon XY&amp;Z Specials,"Action, Adventure, Comedy, Fantasy, Kids",Special,2,7.05,1454

## Group Anime by name and count the rating for each name

In [43]:
#raw_merged_data = raw_merged_data.groupby('name')['rating_x'].count()
#pd.DataFrame(raw_merged_data)

In [44]:
rating_anime_matrix = raw_merged_data.pivot_table(index='user_id', columns=['anime_id'], values = 'rating_x', fill_value= -1)
rating_anime_matrix.head(20)

anime_id,1,5,6,7,8,15,16,17,18,19,...,34048,34085,34103,34107,34136,34173,34240,34283,34324,34325
user_id,,,,,,,,,,,,,,,,,,,,,
1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
2,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
3,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
4,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
5,-1,-1,8,-1,-1,6,-1,6,6,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
6,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
7,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
8,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
9,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
10,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
11,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
12,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
13,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
14,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
15,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
16,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
17,-1,-1,7,-1,-1,-1,-1,-1,-1,10,...,-1,-1,-1,-1,-1,-1,8,-1,-1,-1
18,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
19,10,9,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
20,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1

In [45]:
anime_rating_matrix = rating_anime_matrix.transpose()
anime_rating_matrix.head()

user_id,1,2,3,4,5,6,7,8,9,10,...,9349,9350,9351,9352,9353,9354,9355,9356,9357,9358
anime_id,,,,,,,,,,,,,,,,,,,,,
1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
5,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
6,-1,-1,-1,-1,8,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
7,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
8,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1

## Identify Anime rated by 1 user

In [57]:
#user_id = 125
anime_rating_user = anime_rating_matrix[test_user_id]
anime_rating_user.sort_values(ascending= False)

anime_id
9919     10
11757    10
6746     10
1281     10
8074      9
         ..
3146     -1
3140     -1
3138     -1
3137     -1
34325    -1
Name: 100, Length: 8322, dtype: int64

## Finding Correlations between a Selected user and all Users

In [47]:
similar_users = anime_rating_matrix.corrwith(anime_rating_user)

#format into data frame
sorted_similar_users = pd.DataFrame(similar_users, columns=['correlation']).sort_values(ascending= False, by= 'correlation')
sorted_similar_users

         correlation
user_id
125         1.000000
705         0.311930
4208        0.308571
3896        0.287286
6999        0.284706
...              ...
9307             NaN
9313             NaN
9314             NaN
9336             NaN
9358             NaN

[9358 rows x 1 columns]

## Recommend Anime based on most similar user 
chosen by best 10 correlation value

In [48]:
#most_similar_users = similar_users.sort_values(by='correlation', ascending= False)
most_similar_users = sorted_similar_users[1:11]
most_similar_users

         correlation
user_id
705         0.311930
4208        0.308571
3896        0.287286
6999        0.284706
51          0.281095
6413        0.279291
5683        0.264115
6780        0.262141
4915        0.261543
7106        0.260760

In [49]:
#index = row 
most_similar_users_list = most_similar_users.index.values.tolist()
most_similar_users_list

[705, 4208, 3896, 6999, 51, 6413, 5683, 6780, 4915, 7106]

In [50]:
# This shows the rated anime by user[0] (highest correlation)
recommendation = raw_merged_data[raw_merged_data['user_id'] == most_similar_users_list[0]]
recommendation.head(10)

,user_id,anime_id,rating_x,name,genre,type,episodes,rating_y,members
11509,705,25,7,Sunabouzu,"Action, Adventure, Comedy, Ecchi, Sci-Fi, Shounen",TV,24,7.55,65516
13059,705,30,8,Neon Genesis Evangelion,"Action, Dementia, Drama, Mecha, Psychological,...",TV,26,8.32,461946
23020,705,48,6,.hack//Sign,"Adventure, Fantasy, Game, Magic, Mystery, Sci-Fi",TV,26,7.14,110304
27070,705,59,7,Chobits,"Comedy, Drama, Ecchi, Romance, Sci-Fi, Seinen",TV,26,7.57,266846
42478,705,93,7,Mobile Suit Gundam Seed,"Action, Drama, Mecha, Military, Romance, Sci-F...",TV,50,7.93,96973
50213,705,121,7,Fullmetal Alchemist,"Action, Adventure, Comedy, Drama, Fantasy, Mag...",TV,51,8.33,600384
90055,705,226,8,Elfen Lied,"Action, Drama, Horror, Psychological, Romance,...",TV,13,7.85,623511
97160,705,237,8,Eureka Seven,"Adventure, Drama, Mecha, Romance, Sci-Fi",TV,50,8.19,239570
108058,705,268,9,Golden Boy,"Adventure, Comedy, Ecchi",OVA,6,8.05,113040
132010,705,384,7,Gantz,"Action, Drama, Horror, Psychological, Sci-Fi, ...",TV,13,7.27,165335

## Frame Slicing
Condition 1 = similar user

Condition 2 = rating_y > 5

In [51]:
recommendation = raw_merged_data.loc[(raw_merged_data['user_id'] == most_similar_users_list[0]) & (raw_merged_data['rating_x'] > 5),['name','rating_x']]
recommendation

                                                     name  rating_x
11509                                           Sunabouzu         7
13059                             Neon Genesis Evangelion         8
23020                                         .hack//Sign         6
27070                                             Chobits         7
42478                             Mobile Suit Gundam Seed         7
50213                                 Fullmetal Alchemist         7
90055                                          Elfen Lied         8
97160                                        Eureka Seven         8
108058                                         Golden Boy         9
132010                                              Gantz         7
135792                                    Gantz 2nd Stage         7
208127                         Suzumiya Haruhi no Yuuutsu         7
220847                                       Black Lagoon         7
231912                          Higurashi no Naku Koro ni         7
233537                                         Witchblade         7
277359                   Black Lagoon: The Second Barrage         7
281252                                         Death Note        10
291625                    Code Geass: Hangyaku no Lelouch        10
314002                                           Claymore         6
327708                         Tengen Toppa Gurren Lagann        10
369439                Evangelion: 1.0 You Are (Not) Alone        10
376639                 Code Geass: Hangyaku no Lelouch R2        10
385301                              Ookami to Koushinryou         7
412281                                         Soul Eater         7
424018              Evangelion: 2.0 You Can (Not) Advance        10
470808           Black Lagoon: Roberta&#039;s Blood Trail        10
481508                   Fullmetal Alchemist: Brotherhood         8
492238                           Ookami to Koushinryou II         7
499572                                    Higashi no Eden         7
502410                                              K-On!         6
527957          Higashi no Eden Movie I: The King of Eden         8
532795                                       Angel Beats!        10
539540            Higashi no Eden Movie II: Paradise Lost         8
545077                                         Durarara!!         7
551892                                 Deadman Wonderland         9
565067                      Suzumiya Haruhi no Shoushitsu         7
577423                                             K-On!!         6
578714                                       B Gata H Kei         9
581482                             Highschool of the Dead         6
603461               Panty &amp; Stocking with Garterbelt         7
615644                                        Steins;Gate        10
630218                         Mahou Shoujo Madoka★Magica         9
640393  Ano Hi Mita Hana no Namae wo Bokutachi wa Mada...         8
652210                                               No.6         7
670099                                   Mirai Nikki (TV)        10
675018                       Boku wa Tomodachi ga Sukunai         8
687117                                            Another         8
692007                            Black★Rock Shooter (TV)         9
706672                                   Sword Art Online         9
716067                                     Kokoro Connect         8
722290                                             Hyouka         7
729140                                   Nazo no Kanojo X         6
748094                         Sakurasou no Pet na Kanojo         9
765048                     Chuunibyou demo Koi ga Shitai!         9
768269  Yahari Ore no Seishun Love Comedy wa Machigatt...         6
771943                  Boku wa Tomodachi ga Sukunai Next         8
787626                                Hataraku Maou-sama!         9